/* Общие стили */
* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

html {
    background-color: #c9ccd4;
}

input {
    background-color: #e5e8ef !important;
}

input:-internal-autofill-selected {
    background-color: #e5e8ef !important;
}

input:autofill {
    background-color: #e5e8ef !important;
}

input:-webkit-autofill {
    background-color: #e5e8ef !important;
}

/* Стили для мобильных устройств */
@media screen and (max-width: 480px) {
    html,
    body {
        height: 100%;
    }

    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .login-form-cover {
        color: white;
        padding: 0 5%;
        display: flex;
        justify-content: center;
        background: rgb(204, 116, 57);
        background: linear-gradient(
            0deg,
            rgba(204, 116, 57, 1) 0%,
            rgba(207, 133, 55, 1) 50%,
            rgba(219, 156, 65, 1) 100%
        );
    }

    .login-form-cover-title {
        font-size: 26px;
        font-weight: 900;
        margin-bottom: 10px;
        margin-top: 10%;
    }

    .login-form-cover-caption {
        font-size: 22px;
    }

    .login-form-wrapper {
        padding: 10px;
    }

    .login-form-outer {
        padding: 10% 5%;
    }

    .login-form {
        background-color: #e5e8ef;
        border-radius: 20px;
        box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px,
            rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
            rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }

    .login-form-group {
        margin-bottom: 10px;
    }

    .login-form-button-wrapper {
        margin-top:10%;
    }

    .login-form-button {
        width:100%;
        background: #fc6e4e;
        background: linear-gradient(0deg, #e6553e 0%, #fc6e4e 100%);
        border-radius: 999px;
        box-shadow: #e6553e 0 10px 20px -10px;
        box-sizing: border-box;
        color: #ffffff;
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
        opacity: 1;
        outline: 0 solid transparent;
        padding: 8px 18px;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        border: 0;
    }
}

/* Стили для настольных устройств */
@media screen and (min-width: 481px) {
    .login-form-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .login-form-cover {
        width: 30%;
        padding: 0 5%;
        display: flex;
        justify-content: center;
        background: rgb(204, 116, 57);
        background: linear-gradient(
            0deg,
            rgba(204, 116, 57, 1) 0%,
            rgba(207, 133, 55, 1) 50%,
            rgba(219, 156, 65, 1) 100%
        );
    }

    .login-form-cover div {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .login-form-cover div p {
        color: white;
    }

    .login-form-cover-title {
        font-size: 22px;
        font-weight: 900;
        margin-bottom: 10px;
    }

    .login-form-cover-caption {
        font-size: 12px;
    }

    .login-form-outer {
        padding: 0 10%;
        width: 70%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .login-form {
        width: 61.73%;
        height: 68.75%;
        background-color: #e5e8ef;
        border-radius: 20px;
        box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px,
            rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
            rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
        display: flex;
        flex-direction: row;
        overflow: hidden;
    }

    .login-form-title {
        margin-top: 0;
        margin-bottom: 30px;
        font-size: 24px;
        opacity: 0.87;
        letter-spacing: 4px;
    }

    .login-form-group {
        margin-bottom: 20px;
    }

    .login-form-label {
        display: block;
        margin-bottom: 5px;
        font-size: 18px;
        font-weight: bold;
    }

    .login-form-input {
        width: 100%;
        padding: 10px;
        font-size: 16px;
        border-radius: 25px;
        border: 1px solid #ccc;
    }

    .login-form-button {
        background: #fc6e4e;
        background: linear-gradient(0deg, #e6553e 0%, #fc6e4e 100%);
        border-radius: 999px;
        box-shadow: #e6553e 0 10px 20px -10px;
        box-sizing: border-box;
        color: #ffffff;
        cursor: pointer;
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
        opacity: 1;
        outline: 0 solid transparent;
        padding: 8px 18px;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        width: fit-content;
        word-break: break-word;
        border: 0;
    }

    .login-form-button-wrapper {
        display: flex;
        justify-content: flex-end;
    }
}

/* */

.inp {
    position: relative;
    margin: auto;
    width: 100%;

    height: 53px;
}
.inp input {
    width: 100%;
    border: 0;
    border-bottom: 1px solid #9098a9;
    font-family: inherit;
    padding: 0;
    height: 48px;
    font-size: 16px;
    font-weight: 500;
    background: none;
    border-radius: 0;
    color: #223254;
    transition: all 0.15s ease;
}
.inp input:focus {
    outline: none;
    border-bottom: 2px solid rgb(204, 116, 57);
}
::placeholder {
    color: #9098a9;
}

.login-form-button:active {
    background-color: #fc6e4e !important;
    background: linear-gradient(0deg, #fc6e4e 0%, #e6553e 100%);
}
